## **Reading data from JSON**

In [61]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [62]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'monitor', 'pr': 5000, 'qn': 20},
 '1011': {'name': 'Mouse', 'pr': 1000, 'qn': 20},
 '1012': {'name': 'chager', 'pr': 1500, 'qn': 20},
 '1013': {'name': 'table', 'pr': 2000, 'qn': 10},
 '1014': {'name': 'shirt', 'pr': 2500, 'qn': 50},
 '1015': {'name': 't-shirt', 'pr': 2500, 'qn': 50},
 '1016': {'name': 'Jeans', 'pr': 3000, 'qn': 50},
 '1017': {'name': 'notebook', 'pr': 50, 'qn': 100},
 '1018': {'name': 'dictionary', 'pr': 200, 'qn': 50},
 '1019': {'name': 'craft paper', 'pr': 20, 'qn': 50},
 '1020': {'name': 'drawing Sheet', 'pr': 5, 'qn': 50},
 '1021': {'name': 'geometry box', 'pr': 110, 'qn': 30},
 '1022': {'name': 'glue box', 'pr': 10, 'qn': 30},
 '1023': {'name': 'Drawing book', 'pr': 20, 'qn': 50},
 '1024': {'name': 'sketch pen', 'pr': 30, 'qn': 20},
 '1025': {'name': 'ink bottle', 'pr': 25, 'qn': 15},
 '1026': {'name': 'Ink pen', 'pr': 40, 'qn': 32},
 '1027': {'name': 'eraser', 'pr': 5, 'qn': 25},
 '1028': {'name': 'Maggie', 'pr': 12, 'qn': 50},
 '1029': {'name': 'Cheese', 'pr': 115, 'qn': 20},
 '1030': {'name': 'Butter', 'pr': 150, 'qn': 25}}


## **Add New Item into Inventory**

In [64]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1031
Enter name:Camera
Enter price:35000
Enter quantity:5

In [60]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'monitor', 'pr': 5000, 'qn': 20},
 '1011': {'name': 'Mouse', 'pr': 1000, 'qn': 20},
 '1012': {'name': 'chager', 'pr': 1500, 'qn': 20},
 '1013': {'name': 'table', 'pr': 2000, 'qn': 10},
 '1014': {'name': 'shirt', 'pr': 2500, 'qn': 50},
 '1015': {'name': 't-shirt', 'pr': 2500, 'qn': 50},
 '1016': {'name': 'Jeans', 'pr': 3000, 'qn': 50},
 '1017': {'name': 'notebook', 'pr': 50, 'qn': 100},
 '1018': {'name': 'dictionary', 'pr': 200, 'qn': 50},
 '1019': {'name': 'craft paper', 'pr': 20, 'qn': 50},
 '1020': {'name': 'drawing Sheet', 'pr': 5, 'qn': 50},
 '1021': {'name': 'geometry box', 'pr': 110, 'qn': 30},
 '1022': {'name': 'glue box', 'pr': 10, 'qn': 30},
 '1023': {'name': 'Drawing book', 'pr': 20, 'qn': 50},
 '1024': {'name': 'sketch pen', 'pr': 30, 'qn': 20},
 '1025': {'name': 'ink bottle', 'pr': 25, 'qn': 15},
 '1026': {'name': 'Ink pen', 'pr': 40, 'qn': 32},
 '1027': {'name': 'eraser', 'pr': 5, 'qn': 25},
 '1028': {'name': 'Maggie', 'pr': 12, 'qn': 50},
 '1029': {'name': 'Cheese', 'pr': 115, 'qn': 20},
 '1030': {'name': 'Butter', 'pr': 150, 'qn': 25}}

## **deleting the record**

In [ ]:
del record['1011']